extends ../../layout.pug
block contenido
    div(class="col-md-5 remove-float mx-auto center-block big-top-space")
        h1 Editar una imagen
        -var id = image._id
        form(action="/app/images/"+id+"?_method=PUT" method="POST")
            -var title = image.title
            div(class="form-group")
                label(for="title") Título
                input(type="text", name="title", placeholder="Título de la imagen...", id="title", class="form-control",   value=title)
            div(class="row")
                div(class="col-sm-6")
                    input(type="submit", value="Guardar" class="btn btn-success")