extends ../../layout.pug
block contenido
    div(class="container")
        table(class="table table-striped")
            thead(class="thead-dark")
                tr
                    th Nombre
                    th 
            tbody
                for image in images    
                    tr 
                        td 
                            p=image.title 
                        td(class="text-center")
                            -var cod = image.id
                            a(href="/app/images/"+cod+"/edit", class="right-space") Editar
                            form(action="/app/images/" + cod +"?_method=DELETE", class="link",method="POST")
                                input(type="submit", value="Eliminar")
                            //--a(href="/app/images/"+cod+"") Eliminar
            



