extends ../../layout.pug
block contenido
    h1= image.title
    //-
    if(typeof image.creator != "undefined")
        p Creado por #{image.creator.email}
    p(class="alert") Imagen creada y guardada