.right-space{
    margin-right: 1em;
}

.top-space{
    margin-top: 1.5em;
}

.big-top-space{
    margin-top: 200px;
}
form.link{
    display: inline-block;

}

form.link input[type="submit"]{
    background-color: transparent;
    text-decoration: none;
    border: none;
    color: red;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
img{
    width: 400px;
    height: 400px;
}
.container{
    max-width: 80%;
}
