.right-space{
    margin-right: 1em;
}

.top-space{
    margin-top: 1.5em;
}

.big-top-space{
    margin-top: 200px;
}
form.link{
    display: inline-block;

}

form.link input[type="submit"]{
    background-color: transparent;
    text-decoration: none;
    border: none;
    color: red;
}